<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chuck Norris Evergreens</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="mock/search-results.js"></script>
    <script src="js/main.js" defer></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <div class="search-bar">
        <div class="logo">
          <a href="https://api.chucknorris.io/" target="_blank">
            <img
              src="assets/cn.jpeg"
              alt=" Picture of Chuck Norrises Evergreenness"
            />
          </a>
        </div>
        <!-- <form v-on:submit="sendQuery()"> -->
        <form @submit.prevent="sendQuery()">
          <input
            v-model="query"
            type="text"
            name="query"
            id="query-id"
            required
          />
          <input type="submit" value="Search Chucknorris.io" />
        </form>
        <button @click="getRandomQuery()">Get Random Chuck Norris Fun</button>
      </div>
      <div class="search-results">
        <div
          v-for="result in searchResults"
          :key="result.id"
          class="search-result"
        >
          <div
            v-if='result.value !="no Search Results"'
            class="search-result-link"
          >
            <a :href="result.url" target="_blank">
              <img :src="result.icon_url" alt="icon symbol" />
              <span class="html-url">{{result.url}}</span>
              <!-- <h2>{{result.value}}</h2> -->
            </a>
          </div>
          <div class="search-result-description">
            <p>
              {{result.value}}
              <span v-if='result.value == "no Search Results"'
                >for: {{result.query}}</span
              >
            </p>
          </div>
          <div
            v-if='result.value != "no Search Results"'
            class="search-result-extras"
          >
            <span>Created at: {{formatDate(result.created_at)}}</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
